.profile {
    img {
    width: 25px;
    border-radius: 50%;
    }
}

.profile_medium {
    img {
    width: 50px;
    border-radius: 50%;
    }
}

.profile_big {
    img {
    width: 75px;
    border-radius: 50%;
    }
}